nav {
    color: white;
}

.navbar {
    background-color: #054F7C;
}

.nav-tabs {
    float: right;
    list-style-type: none;
}

a.nav-link {
    color: white;
}

a {
    color: white;
}

.navLogo {
    flex-basis: 25px;
    height: 100%;
    max-width: 25px;
    max-height: 25px;
    object-fit: cover;
}